.main-box {
    -fx-background-color: black;
}

.main-pane {
    -fx-background-color: black;
    -fx-background-image: url("../../Resources/Data/MainMenu/back.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.top-box {
    -fx-alignment: center;
    -fx-padding: 10 0 0 0;
}

.logo-view {
    -fx-image: url("../../Resources/Data/MainMenu/game_logo.png");
    /*-fx-fit-to-width: 10;*/
    -fx-fit-to-height: true;
}

.title-view {
    -fx-image: url("../../Resources/Data/MainMenu/Title.png");
}

.middle-box {
    -fx-background-image: url("../../Resources/Data/MainMenu/Panels/mainmenu.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.welcome-text {
    -fx-font-size: 30;
    -fx-font-family: Serif;
}

.bottom-box {
    -fx-spacing: -90;
}

.bottom-box Button {
    -fx-pref-width: 200;
    -fx-pref-height: 40;
}

.Button {
    -fx-background-color: transparent;
    -fx-background-image: url("../../Resources/Data/Common/Buttons/button_178-0-0.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 377;
    -fx-pref-height: 60;
    -fx-font-size: 25;
}

.Button:hover {
    -fx-background-image: url("../../Resources/Data/Common/Buttons/button_178-1-0.png");
}

.Button:armed {
    -fx-background-image: url("../../Resources/Data/Common/Buttons/button_178-0-1.png");
}
